[submodule "frontend"]
	path = frontend
	url = git@github.com:TeunMos-PixelChat/frontend.git
[submodule "message-api"]
	path = message-api
	url = git@github.com:TeunMos-PixelChat/message-api.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:TeunMos-PixelChat/documentation.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:TeunMos-PixelChat/gateway.git
